
.collapses {
    display: flex;
    line-height: 22.5px;
    list-style: none;
    width: 1023px;
    margin:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .collapse-section {
        margin: 25px;
        width: 100%;
        .collapse-title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            background-color: #FF6060;
            border-radius: 10px;
            font-weight: 500;
            
            .collapse-title {
                margin-left: 15px;
                font-size: 24px;
            }
            .collapse-icon {
                margin-right: 15px;
                cursor: pointer;
            }
        }
        .collapse-description {
            background-color: #F6F6F6;
            color: #FF6060;
            margin-top: 0px;
            border-radius: 10px;
            font-size: 24px;
            .info-description {
                margin-top: 0px;
                padding: 20px;
            }
        }        
    }
}



/* Tablet */
@media all and (min-width: 768px) and (max-width: 992px) {
    .collapses {
        width: 768px;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    
    .icon {
        font-size: 12px;
    }
    .collapses {
        line-height: 15px;
        width: 335px;
        .collapse-section .collapse-title-container .collapse-title {
            margin-left: 15px;
            font-size: 13px;
        }
    }
    .info-description p {
        font-size: 12px;
    }
}